.main-header-line {
  margin-top: 2%;
  margin-bottom: 2%;
}

.services-container {
  margin-top: 2%;
}

.main-content-h1 {
  font-weight: bolder;
  font-size: 50px;
}

.card-body-title,
.card-body-text {
  margin-top: 3%;
}

#mission-statement {
  font-size: large;
}

.services-card-style {
  /* width: 24rem; */
  height: 41rem;
}

@media screen and (min-width: 992px) {
  .main-content-h1 {
    font-weight: bolder;
    font-size: 32px;
  }

  .services-card-style {
    width: auto;
  }
}

@media screen and (max-width: 450px) {
  .main-content-h1 {
    font-size: 30px;
  }

  .services-card-style {
    width: auto;
  }
  .services-card-style {
    width: 25rem;
  }
}
