.contact-banner {
  position: absolute;
  width: 31%;
  left: auto;
  right: 4%;
  display: flex;
  top: 3%;
  height: 20%;
  /* background-color: #eee; */
  z-index: 1000;
}

.card-style {
  background-color: #68774f;
  border-color: white;
  font-weight: bold;
  font-size: 42px;
}

.contact-card-header {
  color: #fafaff;
  border-bottom: #fafaff !important;
}

.social-icons {
  margin: 3%;
  width: 10%;
  color: white;
}
