.home-link {
  font-weight: 700;
}

.navbar-brand {
  color: white;
}

.nav-continer {
  /* margin-left: 0% !important; */
  /* margin-right: 0 !important; */
  width: 100%;
}

.main-nav {
  position: absolute;
  background-color: rgba(20, 27, 31, 0.7);
  border-bottom: 5px solid rgba(104, 119, 79, 0.7);
  width: 100%;
  z-index: 500;
}

.ma-logo {
  width: 10%;
}

.hp-link {
  color: white;
}

@media screen and (min-width: 1400px) {
  .nav-continer {
    max-width: 86%;
  }
}
