.home-link {
  font-weight: 700;
}

.navbar-brand {
  color: white;
}

.nav-continer {
  margin-left: 4% !important;
  margin-right: 0 !important;
}

.main-nav {
  position: absolute;
  /* background-color: rgba(255, 255, 255, 0.5); */
  top: 0;
  left: 0;
  width: 100%;
  /* right: 12%; */
  z-index: 500;
  color: white;
}

.ma-logo {
  width: 12%;
}
